html, body, .container{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.container{
  height: 91.75%;
  width: 98%;
  padding: 2% 1%;
  text-align: center;
  background-color: #135445;
  color: #08d0a2;
  font-family: sans-serif;
}

.container input{
  padding: 7px 10px;
  border: solid #000000 0px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.container h1{
  margin-top: 0px;
}

.container p{
  color: #ffffff;
}

.container table{
  margin: 0 auto;
}

.container table, tr, td{
  padding: 0px;
  border: 1px solid #000000;
  max-width: fit-content;
  text-align: left;
}

.container a{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  padding: 7px 10px;
  background-color: rgb(239, 239, 239);
  color: #000000;
  border: solid #000000 0px;
  border-radius: 3px;
  margin-top: 20px;
}

.error{
  color: #FF8A8A;
  font-size: 15px;
}
